[submodule "om3-scripts"]
	path = om3-scripts
	url = https://github.com/COSIMA/om3-scripts.git
[submodule "bathymetry-tools"]
	path = bathymetry-tools
	url = https://github.com/COSIMA/bathymetry-tools.git
